body {
	background-color: rgb(201, 76, 76);
	margin: 0;
	padding: 0;
}

button {
	width: 200px;
	height: 100px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

img {
	width: 200px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
	display: block;
	display: block;
}

div {
	margin: 0px;
	padding: 0px;
}

}